/* Esto borra los márgenes por defecto del navegador y asi la app que ocupa el 100% de la pantalla */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(245, 245, 245); /* color fondo */ 
}

/* El contenedor principal de React también debe ocupar el 100% */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}